.container {
  display: flex;
  margin-top: 20px;
}

.img_container {
  margin-right: 40px;
}

.content_container {
  width: 1000px;
}

/* .genres {
    display: flex;
    justify-content: space-between;
    width: 500px;

} */
